<div id="logs-list">
    <details class="module">
        <summary>
            <h2 id="logs-list__header">LOGS (0)</h2>
            <a id="clear-logs-link">🚮 Clear Logs</a>
        </summary>
        <div id="logs-list__data">
    
        </div>
    </details>
</div>
<script>

    const logsContainer = find('#logs-list__data')
    const logsHeader = find('#logs-list__header')

    function wrapRow(row) {
        return make(
            'div', 
            {class: 'log-row'},
            Object.entries(row).reduce(
                (accum, current) => accum += make('span', {}, current[1]), ''
            ) 
        )
    }

    fetch("{% url 'bot:logs' %}").then(r => r.json()).then(json => {
        if (json.logs.length > 0) {
            logsContainer.innerHTML = json.logs.reduce(
                (accum, current) => accum + wrapRow(current), ''
            )
            logsHeader.innerText = `LOGS (${json.logs.length})`
        }
    })

    find('#clear-logs-link').onclick = () => {
        fetch("{% url 'bot:logs' %}", {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': CSRF_TOKEN
            }
        }).then(response => {
            if (response.status === 200) {
                logsHeader.innerText = `LOGS (0)`
                logsContainer.innerHTML = ''
            } else {
                logsHeader.innerText += ' --- ERROR CLEARING LOGS'
            }
        })
    }
    
</script>