#logs-list {
    details {
        summary {
            list-style: none;
            position: relative;

            a {
                position: absolute;
                right: 15px;
                top: 7px;
                cursor: pointer;
            }
        }

        h2::before {
            content: '⯈ '
        }

        &[open] h2::before {
            content: '⯆ ';
        }
    }
}

#logs-container {
    max-height: 300px; 
    display: flex; 
    flex-direction: column; 
    overflow: scroll;

    .log-row {
        display: grid;
        grid-template-columns: 1fr 1fr 0.3fr 2fr;

        border-bottom: 1px solid var(--hairline-color);
        padding: 3px 0;

        &:nth-child(even) {
            background: var(--darkened-bg);
        }

        span {
            align-self: center;
        }
    }
}